.ActivePlanWrapper {
    padding-left:1rem;
    padding-right:1rem;
}

.ActivePlanWrapper .foodIntakeWidget {
    padding:1rem;
    border-radius:15px;
    background: #FFEFDF url('./food_intake_img.svg') 95% center no-repeat;
}
