.LogFoodWrapper {
    margin: 1rem auto 0;
    width: calc(100% - 2rem);
}

.LogFoodWrapper .petBowl {
    position: absolute;
}

.widgetHeader {
    position: relative;
}

.widgetHeader::before {
    content: url("./food-bowl.svg");
    position: absolute;
    top: -9px;
    left: 0;
    bottom: 0;
    z-index: 99999;
}

.FoodForm input {
    max-width: 150px;
}

.FoodForm .FoodFormRow {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.FoodForm .FoodFormRow span {
    font-size: 1.25rem;
}

.FoodFormRow input {
    border-radius: 8px;
}

.FoodForm button {
    color: #FFEFD5;
    border-radius:10px;
    background-color: #E35E25;
}
