.PlanSection {
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.PlanSection::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.PlanScrollableSection {
    min-width:600px;
}

.PlanSection .PlanCard {
    display:flex;
    padding:1rem;
    margin-left:1rem;
    min-width:340px;
    min-height:325px;
    border-radius:15px;
    flex-direction:column;
    justify-content: space-between;
}


.PlanSection .PlanCard .ButtonWrapper {
    display:flex;
    justify-content:space-between;
}

.PlanSection .PlanCard .ButtonWrapper button {
    min-width:calc(50% - 0.5rem);
}

.planOne {
    background:linear-gradient(to bottom, #034D91, #022749);
}

.planTwo {
    background:linear-gradient(to bottom, #FFAE2B, #FFCE80);
}

.planThree {
    background-color:#FFF;
}
