* {
    font-family: Nunito, sans-serif;
}

html, body {
    width: 100vw;
    font-size: 16px;
    overflow-x: hidden;
    background-color: #F1F9FF;
}

.primary-text {
    color:#034D91;
}

.light-text {
    color:#6894BD;
}

.white-text {
    color:#FFF;
}

.yellow-tint-text {
    color:#FFEFD5;
}

.primary-btn {
    color:#FFCE80;
    font-weight:bold;
    background-color:#034D91;
}

.default-btn {
    color:#034D91;
    font-weight:bold;
    background-color:#FFFFFF;
}

.secondary-btn {
    color:#034D91;
    font-weight:bold;
    background-color:#FFCE80;
}

.primary-btn:hover {

}

.default-btn:hover {

}

.secondary-btn:hover {

}

.ml-1 {
    margin-left:1rem;
}

.alert-widget-danger {
    color:#FFEFD5;
    font-weight:bold;
    position:relative;
    border-radius:10px !important;
    box-shadow:3px 3px 6px #FFAE2B;
    background-color:#E35E25 !important;
}

.accordion-header {
    position:relative;
}

.widget-with-image-text {
    padding-left:4rem;
}

.w-100 {
    width:100%;
}

.p-1 {
    padding:1rem;
}
.mb-17 {
    margin-bottom:17px;
}

.bold-font {
    font-weight:bold;
}

.font-size-2 {
    font-size:1.5rem;
}
